<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.activitydemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />


    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CheckAppBackgroundOrForegroundActivity" />
        <activity android:name=".hook.StubActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hm.activitydemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SecondActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ThirdActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.hm.task">
            <intent-filter>
                <action android:name="com.hm.action.h" />
                <action android:name="com.hm.action.d" />

                <category android:name="com.hm.category.h" />
                <category android:name="com.hm.category.d" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ForthActivity" />
    </application>

</manifest>